[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
opencv-python = "*"
tensorflow = "*"
pandas = "*"
scikit-learn = "*"
tqdm = "*"
matplotlib = "*"
imgaug = "*"
pyarrow = "*"
efficientnet = "*"
keras = "*"
kaggle = "*"

[requires]
python_version = "3.7"
